{
	auto_https off
	admin off
}

:{$PORT:8080} {
	reverse_proxy 127.0.0.1:8081 {
		header_up Host {$CAO_PUBLIC_HOST}
		header_up X-Forwarded-Host {$CAO_PUBLIC_HOST}
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-For {http.request.header.X-Real-IP}
	}
}
